<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span>LISTADO DE PRODUCTOS</span>
                    <button class="btn btn-success float-end">NUEVO</button>
                    <table class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">PRODUCTO</th>
                            <th scope="col">CATEGORIA</th>
                            <th scope="col">UBICACION</th>
                            <th scope="col">PRECIO</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Coca Cola</td>
                            <td>Bebida</td>
                            <td>Mexico</td>
                            <td>2</td>
                          </tr>
                          <tr>
                            <td>Marlboro 20</td>
                            <td>Cigarrillos</td>
                            <td>Mexico</td>
                            <td>2</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>